meta(charset='UTF-8')
title Stock Photos | Index
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Collection of stock photos')
link(href='https://fonts.googleapis.com/css?family=Roboto:300,400', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='css/main.css')
