section.sp__categ
  a.categ(download, href='img/abstract.jpeg')
    img.categ__image(src='img/categ01.jpg', alt='Abstract')
    h2.categ__title Abstract
  a.categ(download, href='img/cat.jpeg')
    img.categ__image(src='img/categ02.jpg', alt='Cat')
    h2.categ__title Animals
  a.categ(download, href='img/architecture.jpeg')
    img.categ__image(src='img/categ03.jpg', alt='Architecture')
    h2.categ__title Architecture
  a.categ(download, href='img/bikes.jpeg')
    img.categ__image(src='img/categ04.jpg', alt='Bikes')
    h2.categ__title Bikes
  a.categ(download, href='img/books.jpeg')
    img.categ__image(src='img/categ05.jpg', alt='Books')
    h2.categ__title Books
  a.categ(download, href='img/city.jpeg')
    img.categ__image(src='img/categ06.jpg', alt='City')
    h2.categ__title City
  a.categ(download, href='img/flowers.jpeg')
    img.categ__image(src='img/categ07.jpg', alt='Flowers')
    h2.categ__title Flowers
  a.categ(download, href='img/music.jpeg')
    img.categ__image(src='img/categ08.jpg', alt='Music')
    h2.categ__title Music
  a.categ(download, href='img/outdoors.jpeg')
    img.categ__image(src='img/categ09.jpg', alt='Outdoors')
    h2.categ__title Outdoors
  a.categ(download, href='img/space.jpeg')
    img.categ__image(src='img/categ10.jpg', alt='Space')
    h2.categ__title Space
  a.categ(download, href='img/sports.jpeg')
    img.categ__image(src='img/categ11.jpg', alt='Sports')
    h2.categ__title Sports
  a.categ(download, href='img/technology.jpeg')
    img.categ__image(src='img/categ12.jpg', alt='Technology')
    h2.categ__title Technology