doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    #container.container.sp
      include includes/sp__hero.pug
      include includes/sp__categ.pug
    include includes/scripts.pug
